
		<div id="wrapper">

			<div id ="header">
				<h2 id="main-title">Clinic migration</h2>
			</div>

			<div id="chord-diagram">
			</div>

			<!--div id="housing-chart" class="side-chart">
				<p class="charttitle">House price index over time</p>
			</div-->

			<!--div-- id="unemp-chart" class="side-chart">
				<p class="charttitle">Unemployment rate over time</p>
			</div-->

			<!--div-- id="taxes-chart" class="side-chart">
				<p class="charttitle">Top marginal tax rate, 2012</p>
			</div-->

			<div id="legend">
			</div>

			<div id="tooltip">
			</div>



		</div>

