// -----------------------------
// = SVG Icons
// Use Font-Size and Color to style:
// <div style="font-size: 16px; color: #f0f;">
// <svg class=""><use xlink:href="/content/img/icon-defs.svg#orc-icon-filter"></use></svg>
// </div>
// -----------------------------
[class^="orc-icon"], [class*=" orc-icon"],
[class^="orc-icon-"], [class*=" orc-icon-"] {
	width: 1.5em;
	height: 1.5em;
	fill: currentColor;
	display: inline-block;
}

.orc-icon-1x {
	width: 16px;
	height: 16px;
}
.orc-icon-2x {
	width: 24px;
	height: 24px;
}
.orc-icon-3x {
	width: 32px;
	height: 32px;
}
.orc-icon-4x {
	width: 48px;
	height: 48px;
}

// SVG Icon Class Names
//.orc-icon-clock {
//	width: 16px;
//	height: 16px;
//	background-position: 0 0;
//}
//.orc-icon-clipboard {
//	width: 16px;
//	height: 16px;
//	background-position: -48px 0;
//}
//.orc-icon-folder {
//	width: 16px;
//	height: 16px;
//	background-position: -96px 0;
//}
//.orc-icon-gear {
//	width: 16px;
//	height: 16px;
//	background-position: -144px 0;
//}
//.orc-icon-people {
//	width: 16px;
//	height: 16px;
//	background-position: -192px 0;
//}
//.orc-icon-angle-left {
//	width: 16px;
//	height: 16px;
//	background-position: -240px 0;
//}
//.orc-icon-angle-right {
//	width: 16px;
//	height: 16px;
//	background-position: -288px 0;
//}
//.orc-icon-arrow-back {
//	width: 16px;
//	height: 16px;
//	background-position: -336px 0;
//}
//.orc-icon-arrow-next {
//	width: 16px;
//	height: 16px;
//	background-position: -384px 0;
//}
//.orc-icon-bars {
//	width: 16px;
//	height: 16px;
//	background-position: -416px 0;
//}
//.orc-icon-calendar {
//	width: 16px;
//	height: 16px;
//	background-position: -480px 0;
//}
//.orc-icon-filter-alt {
//	width: 16px;
//	height: 16px;
//	background-position: -528px 0;
//}
//.orc-icon-filter {
//	width: 16px;
//	height: 16px;
//	background-position: -576px 0;
//}
//.orc-icon-heartbeat-alt {
//	width: 16px;
//	height: 16px;
//	background-position: -624px 0;
//}
//.orc-icon-heartbeat {
//	width: 16px;
//	height: 16px;
//	background-position: -672px 0;
//}
//.orc-icon-stethoscope {
//	width: 16px;
//	height: 16px;
//	background-position: -720px 0;
//}
